/* Univeral tags */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
  padding-left: 0;
}
/* Typography */

h1 {
  font-size: var(--font-large);

  font-weight: var(--weight-bold);

  color: var(--color-black);

  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);

  font-weight: var(--weight-semi-bold);

  color: var(--color-black);

  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);

  font-weight: var(--weight-regular);

  color: var(--color-black);

  margin: 8px 0;
}

p {
  font-size: var(--font-regular);

  font-weight: var(--weight-regular);

  color: var(--color-black);

  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: #fff;
  padding: 16px;
}

.navbar__menu {
  display: flex;
}
.navbar__logo {
  font-size: medium;
  font-weight: bold;
}
.navbar__menu__item {
  font-size: medium;
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
}
.navbar__menu__item.active {
  border: 1px solid #fff;
}
.navbar__menu__item:hover {
  background: cornflowerblue;
}
