:root {
  /* Color */

  --color-white: #ffffff;

  --color-light-white: #eeeeee;

  --color-dark-white: #bdbdbd;

  --color-pink: #fe918d;

  --color-dark-pink: #ff6863;

  --color-dark-grey: #4d4d4d;

  --color-grey: #616161;

  --color-light-grey: #7c7979;

  --color-blue: #73aace;

  --color-yellow: #fff7d1;

  --color-orange: #feb546;

  --color-black: #000000;

  /* Font size */

  --font-large: 48px;

  --font-medium: 28px;

  --font-regular: 18px;

  --font-small: 16px;

  --font-micro: 14px;

  /* Font weight */

  --weight-bold: 700;

  --weight-semi-bold: 600;

  --weight-regular: 400;
}

/* Univeral tags */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  list-style: none;
}
button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */

h1 {
  font-size: var(--font-large);

  font-weight: var(--weight-bold);

  color: var(--color-black);

  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);

  font-weight: var(--weight-semi-bold);

  color: var(--color-black);

  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);

  font-weight: var(--weight-regular);

  color: var(--color-black);

  margin: 8px 0;
}

p {
  font-size: var(--font-regular);

  font-weight: var(--weight-regular);

  color: var(--color-black);

  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: #fff;
  padding: 16px;
  transition: all 300ms ease-in;
}
#navbar.navbar--dark {
  background: var(--color-black);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}
.navbar__logo {
  font-size: medium;
  font-weight: bold;
}
.navbar__menu__item {
  font-size: medium;
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}
.navbar__menu__item.active {
}
.navbar__menu__item:hover {
  border-color: #fff;
  background: cornflowerblue;
  border-radius: 4px;
}

.navbar__toggle-btn {
  position: absolute;
  top: 15px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url(../imgs/home.png) left center / cover no-repeat;
  filter: grayscale(10%);
  text-align: center;
  padding: 40px;
  /* position: relative; */
}
.home__time {
  font-size: 24px;
}
.home_avatar {
  margin-top: 30px;
  width: 200px;
  height: 220px;
  border-radius: 40%;
  border: 2px solid var(--color-light-white);
}
.home__title,
.home__description,
.home__time {
  color: #fff;
}

.home__contact {
  color: #fff;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 6px;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: 0 auto;
}
.section__container {
  max-width: 1200px;
  margin: 0 auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: 0 auto;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-blue);
}
#about > p {
  line-height: 1.8;
}
.major__icon i {
  transition: all 350ms ease;
}
.major__icon:hover i {
  color: var(--color-orange);
  transform: rotate(365deg) scale(1.1);
}
.major__title {
  color: var(--color-dark-grey);
}

/* Skill */
#skills {
  background: var(--color-yellow);
}
.skillset {
  display: flex;
  background: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}
.skillset__title {
  color: var(--color-white);
  margin-bottom: 10px;
}
.skillset__left {
  flex-basis: 60%;
  background: var(--color-dark-grey);
  padding: 20px 40px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.skill {
  margin-bottom: 32px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background: var(--color-grey);
}
.skill__value {
  height: 3px;
  background: var(--color-orange);
}
.skillset__right {
  flex-basis: 40%;
  background: var(--color-light-grey);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.tools {
  border-top-right-radius: 15px;
  background: var(--color-grey);
}
.tools,
.etc {
  padding: 60px;
}

/* Work */
#work {
  margin-bottom: 200px;
}
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: 4px;
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.selected,
.category__btn:hover {
  background: var(--color-pink);
  color: var(--color-white);
}
.category__btn:active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}
.category__count {
  border: 1px solid var(--color-orange);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: var(--color-white);
  background: var(--color-orange);
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all 300ms ease-in;
}

.work__project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all 300ms ease-out;
}
.work__project.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(50px);
}
.project {
  position: relative;
  width: 280px;
  height: 240px;
  margin: 10px;
  background: var(--color-light-white);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border: 3px solid var(--color-light-grey);
  border-radius: 13px;
}
.project.invisible {
  display: none;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}
.project__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 13px;
}
.project__description {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 300ms ease-in;
  transform: translateY(10px);
}
.project__description h3 {
  color: var(--color-orange);
}
.project__description h3::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background: var(--color-dark-white);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
}

/* Contact */
#contact {
  background: var(--color-black);
}
.contact__email,
.contact__title,
.contact__phone {
  color: var(--color-white);
}
.contact__title {
  margin: 32px 0;
}
.contact__links {
  margin: 24px 0;
  font-size: 28px;
}
.contact__links i {
  transition: all 300ms ease-in;
}
.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-blue);
}

/* Arrow up */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  background: black;
  color: #fff;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .home_avatar {
    width: 150px;
    height: 170px;
  }
  .home__title {
    font-size: 32px;
  }
  .home__description {
    font-size: 24px;
  }
  .section {
    padding: 16px;
  }
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background: #000;
  }
  #navbar.navbar--dark {
    padding: 16px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 12px;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }
  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .major {
    margin-bottom: 38px;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
  .section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work__categories {
    font-size: 16px;
  }
  .category__btn {
    padding: 3px 3px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
  }
  #work {
    margin-bottom: 100px;
  }
  .contact__title {
    font-size: 35px;
  }
  .contact__email {
    font-size: 24px;
  }
  .contact__phone {
    font-size: 24px;
  }
}
